:root {
    --main-color: black;
    --text-color: white;
    --sub-color: #c49f6d;
    --border-color: #527763;

    --navbar-height: 70px;
}

* {
    box-sizing: inherit;
}

html {
    font-family: 'Barlow Condensed', sans-serif !important;
    display: inherit;
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
}

button, label, input, select {
    font-family: 'Barlow Condensed', sans-serif !important;
}

#main {
    position: relative;
}

.grid {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.grid__column-3 {
    width: 25%;
    padding: 0 10px;
}

.grid__column-4 {
    width: 33.3333%;
    padding: 0 10px;
}

.grid__column-6 {
    width: 50%;
    padding: 0 10px;
}

.grid__column-9 {
    width: 75%;
    padding: 0 10px;
}

.title {
    color: var(--text-color);
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    padding: 30px 0;
    user-select: none;
}

.btn {
    display: block;
    font-size: 2rem;
    text-decoration: none;
    background-color: transparent;
    color: var(--text-color);
    width: 250px;
    padding: 15px 0;
    margin-top: 20px;
    text-align: center;
    border-radius: 8px;
    transition: all ease-out 0.25s;
    font-weight: 700;
    border: 1px solid var(--text-color);
    cursor: pointer;
}

.btn:hover {
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 998;
    background-color: rgba(23, 21, 21, 0.6);
}

/* Animation */

@keyframes show {
    from {
        opacity: 0;
        transform: translateY(-20%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes close {
    to {
        opacity: 0;
        transform: translateY(-100px);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
